@(message: String)

@main("Bosh sahifa") {

    @navbar("home")

    <div class="container"style="padding-top: 80px">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>MyChat.uz saytiga hush kelibsiz!</b>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            <input class="form-control" placeholder="Login" name="loginname" type="text" autofocus>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Enter">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer"style="color: #080808">
                        Parolni unutdingizmi? <a href="#" class="text-danger"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yordam </a>

                    </div>

                </div>
            </div>
        </div>
    </div>

}
