@(students: List[malumot])

@main("Malumotlar") {

    @navbar("list")
    <div class="container" style="padding-top: 40px">
        <div class="text-center">
            <h2 id="page-title">Saytimiz haqida</h2>

            <p class="lead">Saytimiz orqali siz yaqin do'stlaringiz bilan suhbat qurush imkoniyatiga ega bo'lasiz.</p>
        </div>
    </div>
    <div class="container">
    <h3>1. Matnli xabarlarni almashish</h3>
        <h3>2. Fotografiya almashish</h3>
        <h3>3. Faylli ma'lumotlarni almashish</h3>
        <h3>4. Shaxsiy profilni boshqarish</h3>
        <h3>5. Ko’pchilikka xabar yuborish yani lenta.</h3>
    </div>



}