@(Eldor: String)

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li class="@if(Eldor == "home") {active}"><a href="@routes.Application.index()"><b>Bosh sahifa</b></a></li>
                <li class="@if(Eldor == "list") {active}"><a href="@routes.Malumotlar.list()"><b>Malumotlar</b></a></li>
                <li style="padding-left: 600px"><a href="#"><b>Kirish</b></a></li>
                <li style="padding-right: 50px"><a href="#"><b>Ro'yhatdan o'tish</b></a></li>


            </ul>
        </div>
    </div>
</nav>
